nvim/plugged/*
nvim/.netrwhist
nvim/undodir/
nvim/plugin/
lvim/plugin/
nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json
zsh/.zcompdump
zsh/_deno
zsh/.zsh_history
zsh/.zdirs
zsh/.cache
tmux/.tmux/
tmux/plugins/
